@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #d1cdb7;
    --foreground: #020817;
    --card: #ffffff;
    --card-foreground: #020817;
    --popover: #ffffff;
    --popover-foreground: #020817;
    --primary: #454138;
    --primary-foreground: #f8fafc;
    --secondary: #bab5a1;
    --secondary-foreground: #0f172a;
    --muted: #dcd8c0;
    --muted-foreground: #64748b;
    --accent: #f1f5f9;
    --accent-foreground: #0f172a;
    --destructive: #ef4444;
    --destructive-foreground: #f8fafc;
    --border: #cdc9b2;
    --input: #e2e8f0;
    --ring: #020817;
    --radius: 0.5rem;
    --chart-1: #e76e50;
    --chart-2: #2a9d90;
    --chart-3: #274754;
    --chart-4: #e8c468;
    --chart-5: #f4a462;
    --footer-background: #696559;
  }

  .dark {
    --background: #020817;
    --foreground: #f8fafc;
    --card: #020817;
    --card-foreground: #f8fafc;
    --popover: #020817;
    --popover-foreground: #f8fafc;
    --primary: #f8fafc;
    --primary-foreground: #0f172a;
    --secondary: #1e293b;
    --secondary-foreground: #f8fafc;
    --muted: #1e293b;
    --muted-foreground: #94a3b8;
    --accent: #1e293b;
    --accent-foreground: #f8fafc;
    --destructive: #7f1d1d;
    --destructive-foreground: #f8fafc;
    --border: #1e293b;
    --input: #1e293b;
    --ring: #e1cfcb;
    --chart-1: #2662d9;
    --chart-2: #2eb88a;
    --chart-3: #e88c30;
    --chart-4: #af57db;
    --chart-5: #e23670;
    --footer-background: #696559;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;

    font-family: 'Inter Variable', sans-serif;
    font-weight: 200;
    letter-spacing: 0.03rem;

    background-size: 0.3rem 0.3rem;
    background-image: linear-gradient(to right, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px),
      linear-gradient(to bottom, #ccc8b1 1px, rgba(204, 200, 177, 0) 1px);
  }

  button {
    height: 2.5rem;
    padding-inline: 0.5rem;
    background-color: var(--secondary);
    color: var(--primary);
    cursor: pointer;
  }
}
