---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="fijc - About">
	<div class="p-12">
		<h1>Hello! My name is <b class="text-gradient">Francisco Jiménez</b></h1>
		<p class="font-roboto">
			{`I'm a software engineer with a passion for building user-friendly and accessible web applications. I'm excited to contribute to the tech community and help make the world a better place.`}
			<strong>Code Challenge:</strong> Tweak the {"Welcome to Astro"} message above.
		</p>
	</div>
</MainLayout>
