button.vertical {
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	-ms-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-property: color, background-color, box-shadow;
	-moz-transition-property: color, background-color, box-shadow;
	-o-transition-property: color, background-color, box-shadow;
	-ms-transition-property: color, background-color, box-shadow;
	transition-property: color, background-color, box-shadow;
	position: relative;
	z-index: 1;

	&:disabled {
		background-color: var(--muted);
		color: var(--secondary);
		cursor: not-allowed;
	}

	&:not(:disabled) {
		&:hover {
			-webkit-box-shadow: 0.2em 0.2em 0.1em 0 var(--secondary);
			box-shadow: 0.2em 0.2em 0.1em 0 var(--secondary);
			background-color: transparent;
			color: #dcd8c0;
		}

		&:before {
			content: '';
			-webkit-transition: all 0.2s;
			-moz-transition: all 0.2s;
			-o-transition: all 0.2s;
			-ms-transition: all 0.2s;
			transition: all 0.2s;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}

		&:after {
			content: '';
			-webkit-transition: all 0.2s;
			-moz-transition: all 0.2s;
			-o-transition: all 0.2s;
			-ms-transition: all 0.2s;
			transition: all 0.2s;
			-webkit-transition-timing-function: ease-out;
			-moz-transition-timing-function: ease-out;
			-o-transition-timing-function: ease-out;
			-ms-transition-timing-function: ease-out;
			transition-timing-function: ease-out;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 0;
			background-color: var(--primary);
			z-index: -1;
		}

		&:hover {
			&:before {
				top: -0.2rem;
				bottom: -0.2rem;
				border: solid var(--primary);
				border-width: 0.1rem 0;
			}

			&:after {
				width: 100%;
			}
		}

		&:active {
			color: var(--primary);
			&:after {
				background-color: #dcd8c0;
			}
		}
	}
}