---
import { NavBar } from "../components/NavBar";
import Layout from "./index.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<Layout title={title}>
	<NavBar client:load />
	<main>
		<slot />
	</main>
</Layout>
